<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="footer">
  <div class="footer-top">
    <div class="footer-left">
      <div class="footer-links">
        <a href="/mtu">MTÜ</a>
        <a href="/kov">KOV</a>
        <a href="/ettevote">Ettevõte</a>
        <a href="/contact">Kontakt</a>
      </div>
      <div class="footer-meta">© 2026 Lihtsalt Tehtud OÜ</div>
    </div>

    <div class="footer-right">
      <div class="footer-slogan"><em>Struktuur, mis hoiab tegijate aega ja väärikust.</em></div>
    </div>
  </div>
</div>
