<nav xmlns:th="http://www.thymeleaf.org" th:fragment="nav" class="nav">
  <a class="brand" href="/" aria-label="Lihtsalt Tehtud avaleht">
    <img class="brand-mark" src="/assets/check-badge.svg" alt="" width="22" height="22">
    <span class="brand-name">Lihtsalt Tehtud</span>
  </a>

  <div class="nav-right">
    <a class="nav-link" href="/mtu">MTÜ</a>
    <a class="nav-link" href="/kov">KOV</a>
    <a class="nav-link" href="/ettevote">Ettevõte</a>
    <a class="btn btn-accent" href="/contact">Võta ühendust</a>
  </div>
</nav>
